.barra-avance__boton--regresar i
  color: $color-sistema-texto
.titulo-principal__numero span
  color: $color-sistema-texto

.back-gris
  background-color: #F6F6F6
.tarjeta-verde
  background-color: #caece6    
.cajon.color-primario
  background-color: #c9ebe6  
.back-primario
  background-color: #29B39D
.back-secundario
  background-color: #7AE582  
.back-color-acento-contenido  
  background-color: #FFBB00
.back-verde-suave  
  background-color: #e1efae  
.back-linea
  background-color: #7AE582    
.text-sistema
  color: $color-sistema-texto
.tarjeta.color-primario *
  color: $color-sistema-texto 
.boton.color-acento-contenido *  
  color: $color-sistema-texto  

.lista-circulo i
  font-size: 10px
  padding-top: 2px
.lista-check i  
  font-size: 13px
  padding-top: 2px
.lista-atom i
  font-size: 13px
  padding-top: 2px
.lista-ol--cuadro__vineta
  min-width: 21px
  height: 21px
  font-weight: 600
.lista-ul--color.lista-azul li > i:first-of-type
  color: #3CA8F4
.lista-ul--color.lista-verde li > i:first-of-type
  color: #7AE582

.bloque-texto-a.color-secundario-gris
  background-color: #7AE582
.bloque-texto-a.color-secundario-gris:before
  background-color: #e1e7e1
.bloque-texto-a.color-gris-secundario
  background-color: #e1e7e1
.bloque-texto-a.color-gris-secundario:before
  background-color: #7AE582
.bloque-texto-a.color-gris-primario
  background-color: #e1e7e1
.bloque-texto-a.color-gris-primario:before
  background-color: #29B39D

figcaption
  font-weight: 500
figcaption.amarillo
  background-color: #FFDA73  

.pasos-a__linea__esquina__linea
  border-radius: 0px
.pasos-a__circle 
  width: 65px
  height: 65px
  min-width: 65px
.pasos-a.color-acento-contenido .pasos-a__circle div
  color: $color-sistema-texto

.tabla-a th 
  background-color: #29B39D
.columna-gris
  font-weight: 600  
  background-color: #F6F6F6
td, th
  border: 1px solid #29B39D

.modal
  margin: 0 auto
  display: block
  width: 130px

.slyder__btn 
  background-color: #AFAFAF
.slyder__btn:hover
  background-color: #FFBB00
a.slyder__btn:active, a.slyder__btn:focus, a.slyder__btn:hover
  color: $color-sistema-texto

.img-infografica__item
  width: 1.5%
.img-infografica__item:hover .img-infografica__item__dot:before, .img-infografica__item:active .img-infografica__item__dot:before
  background-color: #8AD24A !important
.img-infografica__item:hover .img-infografica__item__dot:after, .img-infografica__item:active .img-infografica__item__dot:after
  background-color: #8AD24A !important
.img-infografica__item__dot:hover::before, .img-infografica__item__dot:hover::after
  background-color: #8AD24A !important

.bton-modal
  margin: 0 auto
  display: table

.dofa-1
  border-top-left-radius: 20px
  border-top-right-radius: 20px
.dofa-2
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #ffedbf
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content,.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #ffedbf
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #caece6
.linea-tiempo-d__item__content__title
  background-color: #caece6 
.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #7AE582
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  color: $color-sistema-texto  

.tabla-b td, .tabla-b th
  border: 1px solid #29B39D
th.col1-tabla1
  width: 30%
td.col-gris  
  background-color: #F6F6F6
td.col-blanca
  background-color: #FFF

.col-cuadro .cuadro1 span
  background-color: #7AE582
  width: 30px
  height: 10px
  margin: 5px
.col-cuadro .cuadro2 span
  background-color: #29B39D
  width: 30px
  height: 10px
  margin: 5px
.col-cuadro .cuadro3 span
  background-color: #FFBB00 
  width: 30px
  height: 10px
  margin: 5px

td.col-gris2  
  background-color: #E8E8E8
  padding: 20px
td.col-gris2 strong  
  color: $color-sistema-texto !important
td.col-verde
  background-color: #29B39D
td.col-verde2
  background-color: #29B39D
td.color-azul
  background-color: #7AE582
td.color-amarillo  
  background-color: #FFBB00
th.col1-tabla2
  width: 35%
  background-color: #3CA8F4
th.col1-tabla2 h3, .col-azul-dif h3 
  color: #FFF !important
.col-azul-dif
  background-color: #266999
.tabla-cuadros.tabla-b td, .tabla-cuadros.tabla-b th
  border: 1px solid #266999



// IMG HOVER NUMEROS -----------------------------------
.content
  position: relative
  margin: auto
  height: 233px

.content .content-overlay
  border-radius: 10px
  background: rgba(122, 229, 130, 0.9)
  position: absolute
  left: 0
  top: 0
  bottom: 10%
  right: 0
  opacity: 0
  -webkit-transition: all 0.4s ease-in-out 0s
  -moz-transition: all 0.4s ease-in-out 0s
  transition: all 0.4s ease-in-out 0s

.content:hover .content-overlay
  opacity: 1
.content:hover .btn-numero h3
  color: #00104E !important
  background-color: #FFBB00
  border: 8px solid #29B39D
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

.content img
  z-index: 0
  object-fit: cover
  object-position: center center
  height: 90%
  border-radius: 10px

.tarjeta-details
  position: absolute
  text-align: center
  padding-left: 1em
  padding-right: 1em
  width: 90%
  top: 50%
  left: 50%
  opacity: 0
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

.tarjeta-details p
  line-height: 1.3

.content:hover .tarjeta-details
  top: 49%
  opacity: 1

.fadeIn-top
  top: 20%

.btn-numero h3
  font-size: 25px
  left: 41%
  top: -15%
  position: absolute
  background-color: #7AE582
  border-radius: 50%
  width: 70px
  height: 70px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  border: 8px solid #29B39D
  z-index: 9999
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s
.btn-numero h3:hover
  color: #00104E !important
  background-color: #FFBB00
  border: 8px solid #29B39D
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

@media screen and (max-width: 640px)
  .content:hover .tarjeta-details
    top: 40%;
  .btn-numero h3
    left: 41% !important
  .tarjeta-details 
    width: 95% !important 
  .content:hover .tarjeta-details
    top: 49%  


// TARJETA HOVER ------------------

.tarjeta-container
  position: relative
  overflow: hidden
  height: 262px   
  
  .tarjetaContent
    position: relative    
    top: 0 
    left: 0      
    transition: all 0.45s 0s ease;
    .tarjetaImg, .tarjetaTxt 
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center          
      height: 300px
    .tarjetaImg img
      width: 100%  
    .tarjetaTxt      
      text-align: center
      background-color: #FFBB00 
      opacity: 0.9
    .tarjetaTxt h1 
      font-size: 100px
  &:hover
    .tarjetaContent
      top: -300px
@media (max-width: $bp-max-md)
  .tarjeta-container.tarjeta-grande
    height: 300px 
  .tarjeta-container.tarjeta-grande .tarjetaContent .tarjetaImg, .tarjeta-container.tarjeta-grande .tarjetaContent .tarjetaTxt
    height: 300px
  .tarjeta-container.tarjeta-grande .tarjetaContent:hover    
    top: -300px       


// IMG HOVER -----------------------------------

.img-hover
  position: relative
  overflow: hidden
  cursor: pointer

  &:hover
    .img-hover__content
      transform: translateY(0)

  &__content
    position: absolute
    inset: 0
    background: linear-gradient(0deg, rgba(122,229,130,1) 0%, rgba(122,229,130,0.6) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7AE582",endColorstr="#7AE582",GradientType=1)
    display: flex
    align-items: flex-end
    transform: translateY(100%)
    transition: transform .3s ease-in-out


// LINEA DE TIEMPO -----------------------------------    

.container-img-linea
  background-color: white
  width: 105px
  height: 105px
  border-radius: 50%
  z-index: 9999
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3)


.linea-tiempo-a.color-secundario .linea-tiempo-a__text::before
  background-color: #7AE582
  z-index: 999
.linea-tiempo-a::before
  width: 5px
  border-radius: 2px
  background: #266999
.linea-tiempo-a.color-secundario .linea-tiempo-a__row::before
  background-color: #266999
.linea-tiempo-a__row::before
  width: 30px
  height: 30px
.linea-tiempo-a__row::after
  width: 20px
  height: 20px
  background-color: #3CA8F4 
  border: 3px solid #FFF
.linea-tiempo-a__text__container
  display: none  
  -webkit-transition: all 0.5s ease-in-out 0s
  -moz-transition: all 0.5s ease-in-out 0s
  transition: all 0.5s ease-in-out 0s
.linea-tiempo-a__row:hover .linea-tiempo-a__icon__container  
  background-color: #7AE582
.linea-tiempo-a__row:hover .linea-tiempo-a__icon__container::before
  background-color: #7AE582
.linea-tiempo-a__row:hover::after
  background-color: #7AE582 
.linea-tiempo-a__row:hover .linea-tiempo-a__text__container
  display: initial
  -webkit-transition: all 0.5s ease-in-out 0s
  -moz-transition: all 0.5s ease-in-out 0s
  transition: all 0.5s ease-in-out 0s   
.linea-tiempo-a.color-acento-botones .linea-tiempo-a__row::before
  background-color: #266999
